.carrinho {
    text-align: justify;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2%;
    margin-top: 2%;
    font-weight: bold;
    color: #808080;
}

.produtos {
    display: grid;
    grid-template-columns: 40% 70% 23%;
    align-items: center;
}
.produtoImage{
    width: 7.5%;
    height: 140px;
}

.qty{
    justify-content: flex-end;
    display: flex;
    margin: auto;
    font-size: 23px;
    font-style: initial;
    border-radius: 6px;
    border: none;
    width: 30px;
}

.btnRemove{
    border: none;
    font-size: 30px;
    text-align: center;
    margin: auto;
    color: #363636;
    background-color: #fff;
}

.itemNome {
    text-transform: uppercase;
}

.quantidade {
    text-align: center;
    width: 2.4rem;
    border: 1px solid;
}

.remove {
    font-size: 24px;
    cursor: pointer;
    justify-content: flex-end;
    display: flex;
}

.total {
    display: flex;
    justify-content: flex-end;
    font-size: 1.75rem;
    margin-right: 7%;
    margin-left: 82%;
}

.btnCompra {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 7px 18px;
    font-size: 25px;
    background-color: #4169E1;
    border: none;
    margin-top: 0.5%;
    margin-left: 79%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.itemNome {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.itemPreco {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 17px;
}

table {
    width: 245%;
    text-align: center;
}

thead {
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    color: #4F4F4F;
}

tbody {
    margin: auto;

    td {
        border-bottom: 8px solid;
        text-align: center;
    }

    .itemNome {
        text-align: center;
        text-transform: uppercase;
        font-size: 17px;
        align-items: center;
        display: flex;
    }

    .itemPreco {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        align-items: center;
        display: flex;
    }
}

    margin-right: 1rem;
}

